{
  "extends": ["airbnb-base"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "no-useless-constructor": "off"
  }
}
